
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/118/571/759/street-dance-hip-hop-music-art-graffiti-wallpaper-preview.jpg');

  

  height: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
</style>
</head>
<body>
<audio class="controls">
  <source src="rock.mp3" type="audio/mpeg">
</audio>
<center><h1>You, My Friend are a Hip Hop!!!! Person ......Hoooraaaay<h1></center>
<div class="bg"></div>


</body>
</html>
