
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url('https://ca-times.brightspotcdn.com/dims4/default/f7778d9/2147483647/strip/true/crop/5184x2963+0+0/resize/1486x849!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F4a%2Fa0%2Ffd5adfed418b956564a5aac6a976%2Fcambodian-rock-band-1new.jpg');

  

  height: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
</style>
</head>
<body>
<audio controls="controls">
    <source src="rock.mp3" type="audio/mpeg"></source>
</audio>
<center><h1>You, My Friend are Rock!!!! Person ......Hoooraaaay<h1></center>
<div class="bg"></div>


</body>
</html>
